@charset "UTF-8";


#container
{
  width: 800px;
  margin: 0 auto;
}

body{
    font-family: 'Lobster', Arial, cursive;
}

h2
{
    font-weight: 250;
    font-size: 38px;
    color: blueviolet;
    letter-spacing: 1px;
}

h3
{
    font-weight: 600;
    font-size: 25px;
    color: brown;
}

P
{
    font-size: 19px;
    line-height: 30px;
    font-weight: 310;
    color: black;
}

.hidden{
    display: none;
}

.dropCap {
    font-size: 70px;
    font-weight: 300;
}

.floatImgRight {
    float: right;
    margin-left: 25px;
    padding: 0;
}

.floatImgLeft {
    float: left;
    margin-right: 25px;
    padding: 0;
}

figure, figcaption
{
  display: block;
  margin: 0;
  padding: 0;
}

figcaption
{
    font-size: 16px;
    font-style: italic;
    color:darkslateblue
}